name: Build

on:
  push:
    branches:
      - master
      - branch-*
      - dogfood-*
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Required permissions for Vault OIDC and repo operations
permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: github-ubuntu-latest-s
    name: Build
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          version: 2025.9.12
      - uses: SonarSource/ci-github-actions/build-maven@v1
        with:
          maven-args: -Dmaven.test.skip=true -Dsonar.skip=true
          deploy-pull-request: true
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer

  qa-linux:
    needs: [ build ]
    runs-on: github-ubuntu-latest-s
    name: QA Linux
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          version: 2025.9.12
      - uses: SonarSource/ci-github-actions/build-maven@v1
        with:
          maven-args: -Dcommercial -Dmaven.install.skip=true -Dmaven.deploy.skip=true -P-deploy-sonarsource,-release,-sign
          artifactory-deployer-role: qa-deployer
          artifactory-reader-role: private-reader
      - name: Generate test report
        uses: dorny/test-reporter@dc3a92680fcc15842eef52e8c4606ea7ce6bd3f3 # v2.1.1
        if: ${{ !cancelled() }}
        with:
          name: QA Linux Test Report
          reporter: java-junit
          path: '**/target/surefire-reports/TEST-*.xml'
          list-suites: failed
          list-tests: failed

  qa-windows:
    needs: [ build ]
    runs-on: github-windows-latest-s
    name: QA Windows
    steps:
      - uses: actions/checkout@v5
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          version: 2025.9.12
      - uses: SonarSource/ci-github-actions/build-maven@v1
        with:
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer
          maven-args: -B -e -V -Dcommercial -Dmaven.test.redirectTestOutputToFile=false
      - name: Generate test report
        uses: dorny/test-reporter@dc3a92680fcc15842eef52e8c4606ea7ce6bd3f3 # v2.1.1
        if: ${{ !cancelled() }}
        with:
          name: QA Linux Test Report
          reporter: java-junit
          path: '**/target/surefire-reports/TEST-*.xml'
          list-suites: failed
          list-tests: failed

  promote:
    needs: [ build, qa-linux, qa-windows ]
    runs-on: github-ubuntu-latest-s
    name: Promote
    steps:
      - uses: actions/checkout@v5
      - uses: SonarSource/ci-github-actions/promote@v1
        with:
          promote-pull-request: true
